.shop {
    height: calc(100vh - 90px);
    padding-top: 20px;
}

.shop__filter {
    width: 27%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.shop__genres {

}

.shop__developers {

}

.shop__catalog {

}